* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(153, 80, 221);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 900px;
  height: 500px;
  background-color: rgb(120, 16, 218);
  border: 1px solid black;
}

.conteiner-heading h1 {
  text-align: center;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.conteiner-heading p {
  text-align: center;
  margin-bottom: 80px;
  font-family: 'Times New Roman', Times, serif;
}

.conteiner-img img {
  width: 300px;
}

.conteiner-input input {
  margin-top: 10px;
}

.conteiner-input input[type="submit"] {
  padding: 5px;
  background-color: rgb(114, 114, 236);
  color: white;
}